---
// @ts-nocheck

import Layout from '../../layouts/Layout.astro';
import { supabase } from '../../lib/supabase';

export const prerender = false;

const { id } = Astro.params;

const response = await fetch(`${new URL(Astro.request.url).origin}/api/sellers/${id}`);
const seller = await response.json();
---

<Layout title={`Vendedor - ${id}`}>
  <h1>Página detalle del vendedor #{id}</h1>

  <form action={`/api/sellers/${id}?delete`} method="POST">
    <button class="bg-red-500 px-6 py-2 rounded-lg my-4 hover:bg-red-800">Delete</button>
  </form>

  <form class="max-w-sm mx-auto my-6" method="POST" action={`/api/sellers/${id}`}>
    <div class="mb-5">
      <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Nombre
        <input
          type="text"
          id="name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Pepito"
          name="name"
          required
          value={seller.name}
        />
      </label>
    </div>
    <div class="mb-5">
      <label for="avatar" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Avatar
        <input
          type="text"
          id="avatar"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="https://randomuser.me/api/example.jpg"
          name="avatar"
          required
          value={seller.avatar}
        />
      </label>
    </div>
    <div class="mb-5">
      <label for="location" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Lugar
        <input
          type="text"
          id="location"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-3 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="España"
          name="location"
          required
          value={seller.location}
        />
      </label>
    </div>
    <button
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-3 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Actualizar vendedor
    </button>
  </form>

  <section class="mt-16">
    <img src={seller.avatar} />
    <h2>{seller.name}</h2>
    <p>Where: {seller.location}</p>
  </section>
</Layout>
